{% extends 'home.html' %}
{% block content %}

    <script>
    $(document).ready(function(){
        // Activate tooltip
        $('[data-toggle="tooltip"]').tooltip();
        
        // Select/Deselect checkboxes
        var checkbox = $('table tbody input[type="checkbox"]');
        $("#selectAll").click(function(){
            if(this.checked){
                checkbox.each(function(){
                    this.checked = true;                        
                });
            } else{
                checkbox.each(function(){
                    this.checked = false;                        
                });
            } 
        });
        checkbox.click(function(){
            if(!this.checked){
                $("#selectAll").prop("checked", false);
            }
        });


        $('.material-icons').on('click', function() {
        const companyId = $(this).attr('id');
        $('#deleteEmployeeModal input[type="text"]').val(companyId)
        $('#editEmployeeModal #id_edit').val(companyId)
        console.log(companyId)
        })



        $('#id').hide()
        $('#id_edit').hide()
    });
    </script>
    </head>
    <body>
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Azuriraj <b>Racune</b></h2>
                        </div>
                        <div class="col-sm-6">
                            <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Dodaj novi Racun</span></a>
              					
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll">
                                    <label for="selectAll"></label>
                                </span>
                            </th>
                            <th>Ime Firme</th>
                            <th>Broj Racuna</th>
                            <th>Datum Racuna</th>
                            <th>Valuta</th>
                            <th>Iznos</th>
                            <th>Datum Placanja</th>
                            <th>Knjizi/Obrisi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bill in all %}
                        <tr>
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                    <label for="checkbox1"></label>
                                </span>
                            </td>
                            
                            <td>{{bill.name}}</td>
                            <td>{{bill.bill_number}}</td>
                            <td>{{bill.bill_date}}</td>
                            <td>{{bill.bill_due}}</td>
                            <td>{{bill.bill_amount}} KM</td>
                            {% if bill.bill_paid %}
                            <td>{{bill.billing_date}}</td>
                            {% else %}
                            <td>Nema uplate </td>
                            {% endif %}

                            <td>
                                <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" id='{{bill.id}}' data-toggle="tooltip" title="Uplati">attach_money</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i id='{{bill.id}}' class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
                <div class="clearfix">

            </div>
        </div>        
    </div>
    <!-- Edit Modal HTML -->
    <div id="addEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method='POST'>
                    {{form.hidden_tag()}}
                    <div class="modal-header">						
                        <h4 class="modal-title">Dodaj Firmu</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
             				
                        <div class="form-group">
                            {{form.id_comp.label}}
                            {{form.id_comp(class='form-control')}}
                        </div>
                        <div class="form-group">
                            {{form.name.label}}
                            {{form.name(class='form-control')}}
                        </div>
                        <div class="form-group">
                            {{form.bill_date.label}}
                            {{form.bill_date(class='form-control')}}
                        </div>
                        <div class="form-group">
                            {{form.bill_due.label}}
                            {{form.bill_due(class='form-control')}}
                        </div>
                        <div class="form-group">
                            {{form.bill_amount.label}}
                            {{form.bill_amount(class='form-control')}}
                        </div>								
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        {{form.submit(class='btn btn-success', value='Dodaj')}}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="editEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method='POST'>
                    {{form3.hidden_tag()}}
                    
                    <div class="modal-header">						
                        <h4 class="modal-title">Knjizenje Fakture</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <div class="form-group">
                            {{form3.date.label}}
                           {{form3.date(class='form-control')}}
                        </div>
                        <div class="form-group">
                            {{form3.type.label}}
                            {{form3.type(class='form-control')}}
                        </div>
                        <div class="form-group">
                            {{form3.note.label}}
                            {{form3.note(class='form-control')}}
                        </div>					
                        <div class="form-group">
                  
                            {{form3.id_edit(class='form-control')}}
                        </div>			
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        {{form3.submit3(class='btn btn-info', value='Knjizi')}}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete Modal HTML -->
    <div id="deleteEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method='POST'>
                    {{form2.hidden_tag()}}
                    <div class="modal-header">						
                        <h4 class="modal-title">Obrisi racun</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <p>Da li ste sigurni da zelite obrisati racun ?</p>
                        {{form2.id()}}
                        <p class="text-warning"><small>Nije moguce izvrsiti povrat.</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                       

                        {{form2.submit2(class='btn btn-danger')}}
                    </div>
                </form>
            </div>
        </div>
    </div>

    

    {% endblock content %}