{% extends 'home.html' %}
{% block content %}
<button id='addNewItemButton' class='btn btn-success'><i class='fa fa-plus'></i></button>
<form id='form'>
    <div class="form-group">

        <label for="exampleFormControlInput1">Bestelnummber</label>
        <input type="text" class="form-control" name='bn' id="exampleFormControlInput1" placeholder="">
    </div>
    <div class="form-group">

        <label for="commission">Commission Broj</label>
        <input type="text" class="form-control" name='cn' id="commision" placeholder="">
    </div>
    <div class="form-group">

        <label for="rok">Rok Dostave</label>
        <input type="week" name="week" id="rok" class='form-control'>
    </div>
    <div class="form-group">

        <label for="datum">Datum Narudzbe</label>
        <input type="datum" name="datum" class='form-control'>
    </div>
    <div class="form-group">


        <select name="hitno" id="hitno">
            <option value="0">Ne</option>
            <option value="1">Da</option>

        </select>
        <label for="hitno">Hitno !</label>
    </div>
    <div class="form-group">
        <label for="napomena">Napomena</label>
        <textarea class="form-control" name='napomena' id="napomena" rows="3"></textarea>
    </div>
    <div class="row">
        <div class="col add2">

        </div>
        <div class="col add1">

        </div>
    </div>
    <button class='mt-2 btn btn-success' type='submit'>Dodaj Narudzbu</button>
    </div>

</form>
<script>
    $(document).ready(function () {
        var myvar = '';
        $.ajax({
            url: "/itemslist",
            type: "POST",
            dataType: 'json',
            success: function (data) {
                localStorage.setItem('items', JSON.stringify(data.results))
            }
        });

        function initializeSelect2(selectElementObj) {
            selectElementObj.select2({
                data: JSON.parse(localStorage.getItem('items'))
            });
        }
        var fieldNum = 0;
        var fieldNum2 = 0;
        $("#addNewItemButton").click(function () {
            var newInput = $('<input placeholder="Kolicina" type="text" class="mt-2 form-control" id="qty_' + fieldNum + '" name="qty_' + fieldNum + '"></input></br>' + '<select class="form-control" type="select" id="item_' + fieldNum + '" name="item_' + fieldNum + '"></select></br>')
            $(".add1").append(newInput[0]);
            $('.add2').append(newInput[2]);
            initializeSelect2($(newInput[2]))
            fieldNum++;
        });


        $("#form").on("submit", function (event) {
            event.preventDefault();
            console.log($(this).serialize());
            $.post('orderhandle', $(this).serialize())
        });

    })

</script>
{% endblock %}