{% extends 'home.html' %}
{% block content %}
<div class="modal-dialog">
    <div class="modal-content">
        <form method='POST'>
            {{form.hidden_tag()}}
            <div class="modal-header">						
                <h4 class="modal-title">Izmijeni podatke Firme {{company.name}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                     
                <div class="form-group">
                    {{form.name.label}}
                    {{form.name(class='form-control', value=company.name)}}
                </div>
                <div class="form-group">
                    {{form.id_number.label}}
                    {{form.id_number(class='form-control', value=company.id_number)}}
                </div>
                <div class="form-group">
                    {{form.pdv_number.label}}
                    {{form.pdv_number(class='form-control', value=company.pdv_number)}}
                </div>
                <div class="form-group">
                    {{form.address.label}}
                    {{form.address(class='form-control', value=company.address)}}
                </div>
                <div class="form-group">
                    {{form.city.label}}
                    {{form.city(class='form-control', value=company.city)}}
                </div>
                <div class="form-group">
                    {{form.postal.label}}
                    {{form.postal(class='form-control', value=company.postal)}}
                </div>								
            </div>
            <div class="modal-footer">
               
                {{form.submit(class='btn btn-success', value='Izmijeni')}}
            </div>
        </form>
    </div>
</div>
{% endblock %}