{% extends 'home.html' %}
{% block content %}
    <script>
    $(document).ready(function(){
        // Activate tooltip
        $('[data-toggle="tooltip"]').tooltip();
        
        // Select/Deselect checkboxes
        var checkbox = $('table tbody input[type="checkbox"]');
        $("#selectAll").click(function(){
            if(this.checked){
                checkbox.each(function(){
                    this.checked = true;                        
                });
            } else{
                checkbox.each(function(){
                    this.checked = false;                        
                });
            } 
        });
        checkbox.click(function(){
            if(!this.checked){
                $("#selectAll").prop("checked", false);
            }
        });


        $('.material-icons').on('click', function() {
        const companyId = $(this).attr('id');
        $('#deleteEmployeeModal input[type="text"]').val(companyId)
        console.log(companyId)
        })

        $('#id').hide()

        
    });
    </script>
    </head>
<body>
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Lista <b>Narudzbi</b></h2>
                        </div>
                        <div class="col-sm-6">
                          
                           				
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                <span class="custom-checkbox">

                                </span>
                            </th>
                            <th>Bestelnummber</th>
                            <th>Commission Broj</th>
                            <th>Dostava / Sedmica </th>
                            <th>Datum Narudzbe</th>
                            <th>Napomena</th>
                            <th>Obrisi</th>
              
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in all %}
                        <tr>
                            <td>
                                <span class="custom-checkbox">

                                </span>
                            </td>
                            <td><a href="{{url_for('core.read_order', id=item.id)}}">{{item.bn}}</a></td>
                            <td>{{item.commission}}</td>
                            <td>{{item.week}}</td>
                            <td> {{item.date}}</td>
                            <td> {{item.napomena}}</td>
           
                            <td>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i id='{{item.id}}' class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
                <div class="clearfix">
            </div>
        </div>        
    </div>

    <div id="deleteEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method='POST'>
                    {{form2.hidden_tag()}}
                    <div class="modal-header">						
                        <h4 class="modal-title">Obrisi Artikal</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <p>Ukoliko obrisete narudzbu svi podaci vezani za istu biti ce obrisani !</p>
                        {{form2.id()}}
                        <p class="text-warning"><small>Nije moguce izvrsiti povrat stanja !</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                       

                        {{form2.submit2(class='btn btn-danger')}}
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% endblock content %}